body {
    box-sizing: border-box;
    background-color: black;
}

.calculator {

    position: relative;
    margin-top: 4%;
    left: 38%;
    width: 400px;
}

#operations {
    font-family: 'Kanit', sans-serif;
    color: white;
    text-align: right;
    font-size: 30px;
    line-height: 1;
    padding-right: 37px;
    margin-bottom: -18%;
}

#screen {
    font-family: 'Kanit', sans-serif;
    height: 90px;
    color: white;
    text-align: right;
    font-size: 68px;
    line-height: 2;
    padding-right: 56px;
    margin-bottom: 8%;
}

/*OPERATORS*/
#operators,
#equal-to {
    background-color: rgb(255, 145, 0);
    color: rgb(255, 255, 255);
    font-size: 220%;
}

#operators:hover,
#equal-to:hover {
    background-color: rgb(180, 145, 92);
    color: rgb(2, 2, 2);
}

/* CLEAR Button */
#clear,
#plus-minus {
    font-size: 165%;
    background-color: rgb(143 143 143);
    color: rgb(0, 0, 0);
}

#clear:hover,
#plus-minus:hover {
    background-color: rgb(94, 94, 94);
    color: rgb(209, 209, 209);
}

/* NUMBERS */
#numbers {
    font-size: 135%;
    background-color: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
}

#numbers:hover {
    font-size: 155%;
    background-color: rgb(168, 168, 168);
    color: rgb(4, 4, 4);
}

#dot {
    font-size: 135%;
    background-color: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
}

#dot:hover {
    font-size: 155%;
    background-color: rgb(168, 168, 168);
    color: rgb(4, 4, 4);
}

.zero {
    text-align: center;
    font-size: 145%;
    background-color: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
    width: 10%;
    border: 1px solid black;
    height: 90px;
    width: 200%;
    border-bottom-left-radius: 33%;
    border-top-left-radius: 33%;
    border-bottom-right-radius: 33%;
    border-top-right-radius: 33%;
}

.zero:hover {
    background-color: rgb(168, 168, 168);
    color: rgb(4, 4, 4);
}

button {
    border: 1px solid black;
    height: 90px;
    width: 90px;
    border-radius: 100%;
}